.background {
    background-color: rgba(255, 255, 255, 0.65);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.registration-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fcfcfd;
    transform: translate(100%, 15%);
    padding: 20px;
    width: 30%;
    z-index: 2;
    border-radius: 3vh;
    height: 70%;
    border: 1px solid rgba(128, 128, 128, 0.18);
    box-shadow: 2px 2px 5px rgba(110, 110, 110, 0.2);
}

.close-button {
    position: absolute;
    top: 10px;
    text-align: right;
    margin-left: -4vh;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


.registration-form label {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration-form button {
    display: block;
    width: 100%;
    padding: 10;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitbutton {
    background-color: #42b72a;
    color: white;

    font-family: "Cascadia Code";
    font-size: 1.75vh;
    font-weight: bold;
    height: 5vh;

}

.submitbutton:hover {
    background-color: #36a420;
}

